.project-filter {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 64px;
  justify-content: center;
  gap: 50px;
  align-items: center;
}

.project-layouts {
  display: flex;
  height: 70%;
  flex-direction: row;
  gap: 12px;
  justify-content: center;
  padding: 5px;
  border-radius: var(--standard-radius);
}

.layout {
  border-radius: var(--standard-radius);
  margin: auto;
  width: 32px;
  padding: 3px;
  height: 32px;
}

.layout-active {
  background-color: color-mix(in srgb, var(--border-gray), 10% white);
}

#project-search {
  display: flex;
  height: 70%;
  border-radius: var(--standard-radius);
  padding: 5px 10px;
  border: 1px solid white;
  color: var(--text-color);
  background-color: var(--vantablack);
  outline-color: var(--border-gray);
}

.filter-pills {
  display: flex;
  height: 70%;
  gap: 5px;
}

.pill {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 5px 10px;
  transition: background-color 0.2s;
  border-radius: var(--standard-radius);
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--vantablack);
  height: 100%;
}

/* Style for when stats toggle is active */
.stats-active {
  display: block !important;
}

.filter-pill-active {
  background-color: var(--text-color);
  color: var(--vantablack);
}

svg {
  width: 32px;
  height: 32px;
}

.projects-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(15, 0, 84, 0.1) 50px
  );
  backdrop-filter: blur(0px);
}

.project-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  row-gap: 10px;
  width: 98vw;
}

.project {
  width: 90%;
  height: min-content;
  gap: 10px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.project img {
  max-width: 80%;
  width: auto;
  border-radius: var(--standard-radius);
}

.stats * {
  text-decoration: none !important;
  margin: 0;
}

.stats {
  display: none;
  flex-wrap: wrap;
  gap: 0px;
  justify-content: center;
  width: 90%;
}

/* Mobile responsive styles */
@media screen and (max-width: 768px) {
  .project-filter {
    width: 90%;
    flex-direction: column;
    height: auto;
    justify-content: center;
    row-gap: 10px;
    align-items: center;
  }

  .project-layouts {
    display: none;
  }

  .layout {
    width: 24px;
    height: 24px;
  }

  #project-search {
    width: 80%;
    height: 40px;
    gap: 10px;
  }

  .pill {
    padding: 8px 15px;
  }

  .project {
    width: 95%;
  }

  .project img {
    max-width: 90%;
  }

  .stats {
    flex-direction: column;
    align-items: center;
  }
}
